{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SigPlanet</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<div class="wrapper">
			<nav class="navbar">
				<h1>Welcome To SigPlanet</h1>
			</nav>
			<div class="center">
			<div class="buttons">
				<form action="btn1">
					<button class="btn2">Prediction</button>
				</form>
				<form action="btn2">
					<button class="btn2">About</button>
				</form>
		</div>
		</div>
	</div>
</body>
</html>
